<!DOCTYPE html>
<html>
  <head>
    <title>Online Furniture</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Online Furniture</h1>
    <p>Welcome!</p>
  </body>
</html>
